<!DOCTYPE html>
<html>
  <head>
    <title>Página Inicial</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="conteudo">
        <div class="logo">
          <a href="#">
            <img src="/images/logo.png" alt="logo">
          </a>
          <h1>HausOfPizza</h1>
        </div>
        <nav>
          <ul>
            <li><a href="#">cardápio</a></li>
            <li><a href="#">contato</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="background">          
      </div>

      <div class="conteudo">     
        <form action="#">
          <input type="text" name="buscaPizza" id="buscaPizza" placeholder="Qual sabor você procura?">
          <a href="#">Buscar</a>
        </form>

        <div class="cards">
          <% for(let pizza of pizzas){ %>
            <div class="card" style="background: url('<%= pizza.img %>') no-repeat center; background-size: cover;">
              <p class="nome"><%= pizza.nome %></p>
              <p class="preco">R$ <%= pizza.preco %></p>
            </div>
          <% } %>         
        </div>
      </div>
    </main>
    <footer>
      <p>Leonardo Rodrigues - 2021</p>
    </footer>
  </body>
</html>
